# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Isaac-Sim packman
_isaac_sim*
_rsl_rl*
_IsaacLab*
_repo
_build
.lastformat

# RL-Games
**/runs/*
**/logs/*
**/recordings/*
